<main>
  <app-profile [user]="vm.user"></app-profile>
  
  <app-skill 
    [skills]="vm.resume.skills"
    (on-change)="onUpdate($event)"
    [is-editable]="vm.user.uid === vm.resume.id">
  </app-skill>

  <app-overview 
    [overview]="vm.resume.overview"
    (on-change)="onUpdate($event)"
    [is-editable]="vm.user.uid === vm.resume.id">
  </app-overview>

  <app-experience 
    [experience]="vm.resume.experience"
    (on-change)="onUpdate($event)"
    [is-editable]="vm.user.uid === vm.resume.id">
  </app-experience>
</main>
