:host {
  display: grid;
  grid-template-columns: var(--site-grid);
  padding-block: 64px;
  gap: 64px;
}

main {
  display: grid;
  grid-column: main;
  gap: 56px;
}

aside {
  grid-column: aside;
}
