<main>
  <app-profile [user]="vm.user"></app-profile>
  
  <app-skill 
    [skills]="vm.resume.skills"
    (on-change)="onUpdate($event)"
    [is-editable]="true">
  </app-skill>

  <app-overview 
    [overview]="vm.resume.overview"
    (on-change)="onUpdate($event)"
    [is-editable]="true">
  </app-overview>

  <app-experience 
    [experience]="vm.resume.experience"
    (on-change)="onUpdate($event)"
    [is-editable]="true">
  </app-experience>
</main>

<aside>
  <app-comments
    [resume-id]="vm.resume.id!"
    [comments]="(comments$ | async)!"
    [user]="vm.user"
    (on-comment)="addComment($event)"
    (on-delete)="deleteComment($event)">
  </app-comments>
</aside>
